year/dtd/ballots.dtd

<!--OSCARS website created by Scott McDonald-->
<!ELEMENT ballots (player*)>
<!ELEMENT player (category+)>
<!ATTLIST player firstName CDATA #REQUIRED>
<!ATTLIST player lastName CDATA #REQUIRED>
<!ATTLIST player id CDATA #REQUIRED>
<!ATTLIST player time CDATA #REQUIRED>
<!ELEMENT category EMPTY>
<!ATTLIST category name CDATA #REQUIRED>
<!ATTLIST category nominee CDATA #REQUIRED>